.about-main{
    margin: 6rem 0rem 2rem 0rem ;
}
.about-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
.about-content-1{
    width: 48rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
.about-content-2{
    width: 45rem;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0rem 0rem 0rem 0rem ;
    
}
.about-content-1 img{
    max-width: 98%;
    max-height: 98%;
    
    
}
.about-content-1 p{
    max-width: 28rem;
    
    
}
.about-head h1{
    display: flex;
    flex-direction: row;
    color: rgb(1, 1, 1);
    font-size: 2rem;
    padding: 0rem 0rem 1rem 0rem ;
}
.main-hero-para2{
    
    
    flex-direction: row;
    
    display: flex;
    justify-content: left;
    
    float: left;
    margin: 0rem 0rem -.5rem 0rem ;
    flex-wrap: nowrap;
    
  }
  
  
  .main-hero-letter2{
    font-size: 2.5rem;
    float: left;
    margin: auto;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgb(8, 22, 155);
    padding: 0rem 0rem 0rem 0rem;
    margin: 0rem 0rem 0rem 0rem;
    
    
  }
 
  .main-hero-para2 p{
    font-size: 1.5rem;
    font-variant: small-caps;
    font-weight: bold;
    float: left;
    margin: auto;
    text-align: left;
    letter-spacing: 3px;
    color: rgb(0, 0, 0);
    padding: 0rem 1rem 0rem 0rem;
  }
.about-points{
    padding: 2rem 1rem 2rem 0rem;
}
.about-points h1{
    font-size: 1.2rem;
    padding: .7rem .5rem 0rem .5rem;
    align-items: center;
    justify-content: center;
}
.points h1{
    font-size: 1.2rem;
    font-weight: 550;
    /* padding: .7rem .5rem 0rem .5rem; */
    align-items: center;
    display: flex;
    align-items: center;
    margin: auto;
    float: left;
    
}
.developer-member-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(0, 0, 255, 0.229);
    /* background-color: rgba(8, 23, 155, 0.273); */
    padding: 2.5rem 0rem 2.5rem 0rem;
    
}
.developer-head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0rem 4rem 0rem ;
}
.developer-head h1{
    font-size: 4rem;
    color:rgb(8, 22, 155);
    font-variant: small-caps;
    font-weight: bold;
    
}
.developer-member{
    width: 12rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.developer-member img{
    max-width: 12rem;
    max-height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 4px solid rgba(8, 23, 155, 0.101);
    border-radius: 98px 98px 98px 98px;
    border-style: groove; */
}
.developer-member h1{
    font-size: 1.3rem;
    
    width: 12rem;
    height: 1rem;
    padding: .4rem 0rem .4rem 0rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    font-weight: bold;
}
.developer-member p{
    font-size: 1rem;
    padding: 0rem 0rem 0rem 0rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    font-weight: bold;
}